@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Merriweather", serif;
}
.title {
  font-family: "Exo 2", sans-serif;
}
.text {
  font-family: "Merriweather", serif;
}

.codex-editor__redactor {
  padding-bottom: 20px !important;
}

.editorjs-container {
  width: 650px;
  margin: 0px auto;
}
